# plantilla de variables de entorno
# copiar este archivo como .env y completar los valores

MONGO_URI=mongodb+srv...

# nombre de la base de datos
DB_NAME=AH20232CP1

# puerto
PORT=3333

# opcional
# solo si node no logra resolver los registros SRV de mongodb+srv en tu red
# DNS_SERVERS=1.1.1.1,8.8.8.8
